*.scon*
*.pyc
*.so
*.os
*.dylib
*.log
config.log
build/
doc/html
doc/doxygen.conf
doc/tcc.tag
dist/
python/tcc/base/tccLib.py
python/tcc/base/tccLib_wrap.*
python/*.egg-info/
ups/*.cfgc
tests/.tests
tests/data/earthpred.dat
_trial_temp/
